@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(239, 242, 245);
  margin: 0;
  font-family: ui-monospace, 
             Menlo, Monaco, 
             "Cascadia Mono", "Segoe UI Mono", 
             "Roboto Mono", 
             "Oxygen Mono", 
             "Ubuntu Monospace", 
             "Source Code Pro",
             "Fira Mono", 
             "Droid Sans Mono", 
             "Courier New", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.letter-card {
  @apply bg-slate-400 text-white;
}

.letter-card.partial-letter {
  @apply bg-amber-400;
}

.letter-card.correct-letter {
  @apply bg-emerald-500;
}